@{
    ViewBag.Title = "About";
}

<br />
<br />
<div class="row">
    <div class="col-md-8">
        <h3>About Us</h3>
        <p>
            Founded in 1924, Baptist Health has been bringing advanced medical technology, modern facilities, and many of the region's most prominent physicians and medical professionals to the cities and communities of Kentucky for almost 90 years.
        </p>
    </div>
</div>