@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<h3 class="headers">Contact Us</h3>
<address>
    Baptist Health<br />
    2701 Eastpoint Parkway <br />
    Our main phone number: (502) 896-5000
</address>
<address>
    <strong>Web Master:</strong>   <a href="mailto:annia.martinez@louisville.edu">webmaster@baptisthealth.com</a><br />
    <strong>Support:</strong> <a href="mailto:Marketing@example.com">support@baptisthealth.com</a>
</address>